<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Öğrenci Yönetim Sistemi - İletişim</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        /* Özel CSS stilleri buraya eklenebilir */
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Öğrenci Yönetim Sistemi</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/homepage}">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Öğrenci Yönetim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teachers}">Öğretmen Yönetim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/news}">Haberler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/comunication}">İletişim</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">İletişim Formu</h2>
            <div class="text-center mb-4">
                <img src="/sdu.png" alt="Resim" class="img-fluid" style="max-width: 200px;">
            </div>
            <form action="/submit_contact_form" method="post">
                <div class="form-group">
                    <label for="fullName">Ad Soyad:</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="email">E-posta Adresi:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mesajınız:</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
</div>

</body>
<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <span>Öğrenci Yönetim Sistemi &copy; Mustafa Yasin Emir-Ömer Soydinç</span>
    </div>
</footer>
</html>
